# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package, see list of default ignored files

# Step 2/2: ignore files needed for build, but not meant for publishing
/src
/yarn.lock
/yarn-error.log
## build helper
/npm-create-rc.js
/tsconfig.json
/.nvmrc
## testing, linting
/jest.config.js
/tslint.json
/.prettierrc