name: Lint and Test

on:
  push:
    branches:
      - develop
      - master
    tags:
      - '*'
    paths-ignore:
      - '**/*.md'
      - 'LICENSE'
      - 'Dockerfile'
      - 'docker-compose.yml'
      - 'dc.build.node.yml'
      - '.github/workflows/*publish.yml'
  pull_request:
    branches:
      - develop
      - master

jobs:
  check_skip:
    runs-on: ubuntu-latest
    if: "! startsWith(github.event.head_commit.message, '[CI Skip]') && github.repository == 'kiltprotocol/sdk-js'"
    steps:
      - name: Not Skipped
        run: echo "Not Skipped"

  build:
    runs-on: ubuntu-latest

    needs: check_skip

    strategy:
      matrix:
        node-version: [14.x, 16.x]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"
      - uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-${{ matrix.node-version }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.node-version }}-yarn-
      - name: yarn install
        run: yarn install --immutable
      - name: yarn build
        run: yarn build
      - name: zip build
        run: zip -r build.zip .
      - name: upload build
        uses: actions/upload-artifact@v2
        with:
          name: build-${{ matrix.node-version }}
          path: build.zip

  lint:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/download-artifact@v2
        with:
          name: build-14.x
      - name: unzip
        run: unzip build.zip -d .
      - name: lint
        run: yarn lint
      - name: check dependency duplication
        run: if ! yarn dedupe --check; then echo "::warning ::Dependencies may be deduplicated"; fi;

  test:
    runs-on: ubuntu-latest
    needs: build

    strategy:
      matrix:
        node-version: [14.x]
        required: ['required']
        include:
          - node-version: 16.x
            required: 'optional'

    continue-on-error: ${{ matrix.required == 'optional' }}

    steps:
      - uses: actions/download-artifact@v2
        with:
          name: build-${{ matrix.node-version }}
      - name: unzip
        run: unzip build.zip -d .
      - name: unit tests
        run: yarn test:ci

  integration_test:
    runs-on: ubuntu-latest

    needs: build

    strategy:
      matrix:
        image: ['latest-master']
        required: ['optional']
        include:
          - image: 'latest-develop'
            required: 'optional'

    continue-on-error: ${{ matrix.required == 'optional' }}

    steps:
      - uses: actions/download-artifact@v2
        with:
          name: build-14.x
      - name: unzip
        run: unzip build.zip -d .

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: run integration tests
        timeout-minutes: 60
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: kilt/prototype-chain
          IMAGE_TAG: ${{ matrix.image }}
        run: |
          docker pull $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker run -d --rm -p 9944:9944 $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG --dev --ws-port 9944 --ws-external
          sleep 5s
          yarn test:integration:run
          docker stop $(docker ps -f ancestor=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG -q)

  bundle_cache:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/download-artifact@v2
        with:
          name: build-16.x
      - name: unzip
        run: unzip build.zip -d .
      - name: yarn bundle
        run: yarn bundle
      - name: upload bundle artifact
        uses: actions/upload-artifact@v2
        with:
          name: checked-nonmin-bundle
          path: packages/sdk-js/dist/sdk-js.umd.js

  bundle_test:
    runs-on: ubuntu-latest

    needs: [build, bundle_cache]
    strategy:
      matrix:
        image: ['latest-master', 'latest']
        required: ['optional']
        include:
          - image: 'latest-develop'
            required: 'required'

    continue-on-error: ${{ matrix.required == 'optional' }}
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: build-16.x
      - name: unzip
        run: unzip build.zip -d .
      - uses: actions/download-artifact@v2
        with:
          name: checked-nonmin-bundle
          path: packages/sdk-js/dist
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
      - uses: actions/setup-node@v2
        with:
          node-version: '16.x'
      - run: basename /packages/sdk-js/dist/
      - name: prepare bundle test
        timeout-minutes: 60
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: kilt/prototype-chain
          IMAGE_TAG: ${{ matrix.image }}
        run: |
          docker pull $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker run -d --rm -p 9944:9944 $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG --dev --ws-port 9944 --ws-external
          sleep 5s
          yarn test:ci:bundle
          sleep 5s
          docker stop $(docker ps -f ancestor=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG -q)

  run_getting-started:
    runs-on: ubuntu-latest

    needs: build

    strategy:
      matrix:
        image: ['latest-master']
        required: ['required']
        include:
          - image: 'latest-develop'
            required: 'optional'

    continue-on-error: ${{ matrix.required == 'optional' }}

    steps:
      - uses: actions/download-artifact@v2
        with:
          name: build-14.x
      - name: unzip
        run: unzip build.zip -d .

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: run getting started
        timeout-minutes: 10
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: kilt/prototype-chain
          IMAGE_TAG: ${{ matrix.image }}
        run: |
          docker pull $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker run -d --rm -p 9944:9944 $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG --dev --ws-port 9944 --ws-external
          sleep 5s
          yarn ts-node docs/getting-started.ts
          docker stop $(docker ps -f ancestor=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG -q)
